<div class="row bg-light">
    <div class="col-6 text-center">
        <p>1</p>
        <p>2</p>
        <p>3</p>
    </div>
    <div class="col-6 text-center">
        <p>1</p>
        <p>2</p>
        <p>3</p>
    </div>
</div>